<h6>Timeline activities</h6>
<mat-grid-list cols="1" rowHeight="2:1">
    <mat-card (click)="goToEvent()" *ngFor="let event of events" style="padding:'20px';margin-bottom: '30px'">
		<mat-card-header>
			<mat-card-title-group>
				<mat-card-title>{{event.name}}</mat-card-title>
				<mat-card-subtitle>Location: {{event.location}}</mat-card-subtitle>
				<mat-card-subtitle>{{event.date}}</mat-card-subtitle>
				<mat-card-subtitle>Duration: {{event.hours}}</mat-card-subtitle>
				<!-- <mat-card-subtitle style="flex:'1'">Rating: {{event.rating}}</mat-card-subtitle>
				<mat-card-subtitle style="flex:'1'">Status: {{event.status}}</mat-card-subtitle> -->
			</mat-card-title-group>
		</mat-card-header>
		<mat-card-footer style="margin-top: '-70px'; float:'right'; margin-right:'5px'">
			<mat-card-subtitle>Rating: {{event.rating}}</mat-card-subtitle>
			<mat-card-subtitle>Status: {{event.status}}</mat-card-subtitle>
		</mat-card-footer>
	</mat-card>
</mat-grid-list>
  
